<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182986235348-t7f19113v8jfjuohf8rromtl3aisssa9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182986235348-t7f19113v8jfjuohf8rromtl3aisssa9</string>
	<key>API_KEY</key>
	<string>AIzaSyAKieep56nLxMDBLLGMcsAJ5sj58fRBpYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>182986235348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exie.jazzcats.jazzCatsApp</string>
	<key>PROJECT_ID</key>
	<string>jazzcats-9edbd</string>
	<key>STORAGE_BUCKET</key>
	<string>jazzcats-9edbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182986235348:ios:49fb9a71d546b347ee8a41</string>
	<key>DATABASE_URL</key>
	<string>https://jazzcats-9edbd.firebaseio.com</string>
</dict>
</plist>